.acciones-container {
  display: flex;
  justify-content: space-between; /* Esto los manda a cada punta */
  align-items: center;
  margin: 20px;
  flex-wrap: wrap; /* Para que no se rompa en pantallas chicas */
  gap: 10px; /* Espaciado opcional entre ellos si bajan de línea */
}

.barra-filtro {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre "Filtrar" y el formulario */
  padding: 10px 16px;
  background-color: #ec0e0e;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: fit-content;
  color: white;
}

.filtro-texto {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
}

/* Este input aplica solo a los que estén dentro de .barra-filtro */
.barra-filtro input {
  border-radius: 6px;
  padding: 6px 10px;
  border: none;
  outline: none;
  font-size: 14px;
  height: 30px;
}
.barra-filtro form {
  display: flex;
  align-items: center;
  margin: 0;
}

.cargar-mas-container {
  margin: 0;
}

.cargar-mas-container button {
  background-color: #df1111;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cargar-mas-container button:hover {
  background-color: #ec0e0e;
  transform: translateY(-2px);
}